<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech-Blog</title>
</head>
<body>
    <header>
        <h1>
            <a href="/dashboard">Dashboard</a>
        </h1>
        <nav>    
            <button id="logout" class="login_button">Logout</button>
            {{else}}
            <a href="login">Login</a>
            {{if}}
        </nav>
    </header>
    <main>
        {{{ body }}}
    </main>

    {{#if loggedIn}}
    <scrip src="/public/javascript/logout.js"></scrip>
    {{/if}}
</body>
</html>